ANTHROPIC_API_KEY="your key"
OPENAI_API_KEY="your key"
XAI_API_KEY="your key"
XAI_MODEL="grok-4"
XAI_BASE_URL="https://api.x.ai/v1"
GEMINI_API_KEY=""

WHATSAPP_PROVIDER="twilio"
WHATSAPP_TOKEN="your key"
WHATSAPP_PHONE_ID="your key"
WHATSAPP_VERIFY_TOKEN=""
JWT_SECRET="dfa33das4bf&vygdd#ftf@hhiji*nb"
S3_BUCKET=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
NGROK_DOMAIN=""
NGROK_AUTHTOKEN=""

TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN="your auth token"
TWILIO_PHONE_NUMBER="whatsapp:+14155238886"

# https://business.facebook.com/latest/home?business_id=28085293647727122
FACEBOOK_APP_ID="your app id"
FACEBOOK_APP_SECRET="your app secret"
FACEBOOK_PAGE_ACCESS_TOKEN="your key"
FACEBOOK_CLIENT_TOKEN="your client token"
